<div class="container">
	<div class="jumbotron">
  		<h1>Hello, world!</h1>
  			<p>This like a first page for create a form </p>
  			<p><a class="btn btn-primary btn-lg" href="/user/new" role="button">SingUp</a></p>
	</div>
</div>